[Unit]
Description=INOOVAZAP
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
WorkingDirectory=/usr/local/INOOVAZAP
ExecStart=/usr/local/INOOVAZAP/INOOVAZAP -wadebug DEBUG

[Install]
WantedBy=multi-user.target
